---
import Layout from '../layouts/Layout.astro';
import "../index.css"
import { TextAnimation } from '@/components/TextAnimation';
---

<Layout title="Franco De Paulo">
	<main>
		<TextAnimation client:only="react" />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100vh;
	}
</style>
