---
---

<div class="absolute left-6 bottom-2/3 z-50 w-11 ">
    <div class="mb-2 bg-gray-100 rounded-full p-2"><a href="https://github.com/frandepe"><img src="/imgs/icons/GitHub.png" alt="linkedin franco de paulo" width={30}></a></div>
    <div class="bg-gray-100 rounded-full p-2"><a href="https://www.linkedin.com/in/franco-de-paulo/"><img src="/imgs/icons/LinkedIn.png" alt="linkedin franco de paulo" width={30}></a></div>
</div>